* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif !important;
}

body a {
  color: #000;
  text-decoration: none;
}

body a:hover {
  color: #ffc107;
}

img {
  max-width: 100%;
  width: 80%;
}

body h2 {
  font-size: 1.2rem;
}
